nav {
  margin-bottom: 20px;
  font-size: 18px;
}
nav a {
  color: #0077cc;
  text-decoration: none;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: underline;
}
form {
  text-align: left;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #005fa3;
}
